
/* トレンドを非表示にする */
div[aria-label="タイムライン: トレンド"] {
  display: none;
}

/* おすすめユーザーを非表示にする */
aside[aria-label="おすすめユーザー"] {
  display: none;
}

/* おすすめユーザーの背景を消す */
div[class="css-1dbjc4n r-x572qd r-1d6w8o1 r-1867qdf r-1phboty r-rs99b7 r-1ifxtd0 r-1udh08x"] {
  display: none;
}

/* トレンドの背景を消す */
div[class="css-1dbjc4n r-x572qd r-1d6w8o1 r-1867qdf r-1phboty r-rs99b7 r-1ifxtd0 r-1udh08x"] {
  display: none;
}

/* ＃話題を消すボタンを消す（トレンドが表示されるため） */
div[aria-label="タイムライン: 話題を検索"] {
  display: none;
}

/* 話題を検索全体を非表示に */
div[aria-label="タイムライン: 話題を検索"] {
  display: none;
}

a[aria-label="調べたいものを検索"] {
  display: none;
}
